1 VERSIONINFO
FILEVERSION 1, 4, 0, 0
PRODUCTVERSION 1, 4, 0, 0
FILEFLAGSMASK 0
FILEOS 0x40000
FILETYPE 1

{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "CompanyName", "SFT Technologies"
            VALUE "FileDescription", "Detours fix DLL injector"
            VALUE "FileVersion", "1.4.0.0"
            VALUE "InternalName", "fucking_detours_injector"
            VALUE "LegalCopyright", "2019 SFT Tech, https://openage.sft.mx"
            VALUE "OriginalFilename", "dll_inject.exe"
            VALUE "ProductName", "Detours fix DLL injector"
            VALUE "ProductVersion", "1.4.0.0"
            VALUE "author", "eblig"
            VALUE "bestAoEclone", "openage"
            VALUE "openageURL", "https://openage.sft.mx"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409 0x04B0
    }
}